/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  /* background-color: aqua; */
  /* height: 100vh; */
}

/* * {
  margin: auto;
  font-family: 'Poppins', sans-serif;
}

html {
  height: 100%;
}

.App {
  height: 100%;
  text-align: center;
  width: 100%;
}

.favourites {
  min-height: 100vh;
  max-height: 100%;
  background-image: url("./images/pic7.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search {
  min-height: 100vh;
  max-height: 100%;
  background-image: url("./images/pic27.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50%;
}


.card {
  margin-top: 10px;
  padding: 20px;
  width: 70%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  margin-bottom: 20px;
}

.display {
  display: grid;
  grid-template-columns: auto auto;
}

.trackImg {
  width: 210px;
  left: 0px;
  object-fit: cover;
  border-radius: 5%;
}

.info {
  margin-left: 20px;
  color: white;
  text-align: left;
}

.title {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white
}


.headers {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1.2px;
}

.headers1 {
  margin-bottom: 10px;
}

.openBtn {
  color: white;
  background: none;
  border-radius: 10px;
  border-color: white;
  padding: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
  margin: 15px;
  width: 200px;
}

.openBtn:hover {
  background-image: linear-gradient(to right bottom, #52b69a, #99d98c);
  border-color: #99d98c;
}

.rmvBtn {
  color: white;
  background: none;
  border-radius: 10px;
  border-color: white;
  padding: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
  margin: 15px;
}

.rmvBtn:hover {
  background-image: linear-gradient(to right bottom, #c9184a, #ff4d6d);
  border-color: #ff4d6d;
}

.linkBtn {
  text-decoration: none;
  color: white;
}

.getPlaylist {
  color: white;
  background-image: url("./images/pic8.jpg");
  min-height: 100vh;
  max-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container1 {
  text-align: center;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.featuredPlaylists {
  color: white;
  background-image: url("./images/pic9.jpg");
  min-height: 100vh;
  max-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fpbtn {
  margin-top: 30px;
}

.fpinfo {
  margin-top: 20px;
  text-align: left;
}

.searchSong {
  color: white;
  background: none;
  border-radius: 5px;
  border-color: white;
  padding: 8px;
  margin: 15px;
  width: 200px;
}

::placeholder {
  color: white;
}

.selectPlaylist {
  color: white;
  background-image: url("./images/pic22.jpg");
  min-height: 100vh;
  max-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.customPlaylists {
  min-height: 100vh;
  max-height: 100%;
  background-image: url("./images/pic32.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
} */